.my-information{
text-align: left;
}



.skillAndEducation{
background-color: lightblue;
border: 1px solid black;
Padding: 12px 12px;
Width: 400px;
}

h1{
Color: blue;
font-family: Verdana;
}

p{
Color: red;
font-family: courier;
font-size: 20px;
}